* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    color: rgb(255, 255, 255);
    background-color: #232429;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: radial-gradient(circle,
     #3d3d3d, #383838, #343434, #2f2f2f, #2b2b2b, #262626,
      #222222, #1d1d1d, #181818, #121212, #0a0a0a, #000000);
}
table {
    background-color: #1e1e1e;
}
th {
    background: #1e1e1e;
    
}
table, th, td {
    border-collapse: collapse;
    padding: 1rem;
    text-align: left;
  }