* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    /* width: 82vw; */
    /* height: 90vh; */
    /* padding: 10vh 18vh; */
    color: rgb(255, 255, 255);
    background-color: #232429;
    min-height: 100vh;
    background: rgb(25, 25, 25);
}
table {
    background-color: #1e1e1e;
}
th {
    background: #1e1e1e;
    
}
table, th, td {
    border-collapse: collapse;
    padding: 1rem;
    text-align: left;
  }